    # Preprocessing ag

In [1]:
import pandas as pd
import numpy as np
import os
from IPython.display import Image
from IPython.core.display import HTML 
import matplotlib.pyplot as plt  
% matplotlib inline
import random
from datetime import datetime
import seaborn as sns

In [6]:
df = pd.read_csv("age_gender_bkts.csv")
df.head()

  age_bucket country_destination gender  population_in_thousands    year
0       100+                  AU   male                      1.0  2015.0
1      95-99                  AU   male                      9.0  2015.0
2      90-94                  AU   male                     47.0  2015.0
3      85-89                  AU   male                    118.0  2015.0
4      80-84                  AU   male                    199.0  2015.0

In [7]:
df.describe()

       population_in_thousands    year
count               420.000000   420.0
mean               1743.133333  2015.0
std                2509.843202     0.0
min                   0.000000  2015.0
25%                 396.500000  2015.0
50%                1090.500000  2015.0
75%                1968.000000  2015.0
max               11601.000000  2015.0

In [63]:
df2 = df.set_index(['country_destination', 'age_bucket'], inplace=False)
df2.drop('year',inplace = True)
df2.head(50)

                                gender  population_in_thousands    year
country_destination age_bucket
AU                  100+          male                      1.0  2015.0
                    95-99         male                      9.0  2015.0
                    90-94         male                     47.0  2015.0
                    85-89         male                    118.0  2015.0
                    80-84         male                    199.0  2015.0
                    75-79         male                    298.0  2015.0
                    70-74         male                    415.0  2015.0
                    65-69         male                    574.0  2015.0
                    60-64         male                    636.0  2015.0
                    55-59         male                    714.0  2015.0
                    50-54         male                    778.0  2015.0
                    45-49         male                    778.0  2015.0
                    40-44         male                    820.0  2015.0
                    35-39         male                    797.0  2015.0
                    30-34         male                    881.0  2015.0
                    25-29         male                    895.0  2015.0
                    20-24         male                    820.0  2015.0
                    15-19         male                    768.0  2015.0
                    10-14         male                    743.0  2015.0
                    5-9           male                    784.0  2015.0
                    0-4           male                    824.0  2015.0
                    100+        female                      4.0  2015.0
                    95-99       female                     25.0  2015.0
                    90-94       female                     94.0  2015.0
                    85-89       female                    179.0  2015.0
                    80-84       female                    252.0  2015.0
                    75-79       female                    338.0  2015.0
                    70-74       female                    438.0  2015.0
                    65-69       female                    592.0  2015.0
                    60-64       female                    660.0  2015.0
                    55-59       female                    739.0  2015.0
                    50-54       female                    798.0  2015.0
                    45-49       female                    793.0  2015.0
                    40-44       female                    838.0  2015.0
                    35-39       female                    801.0  2015.0
                    30-34       female                    865.0  2015.0
                    25-29       female                    851.0  2015.0
                    20-24       female                    787.0  2015.0
                    15-19       female                    737.0  2015.0
                    10-14       female                    707.0  2015.0
                    5-9         female                    745.0  2015.0
                    0-4         female                    781.0  2015.0
CA                  75-79       female                    530.0  2015.0
                    75-79         male                    446.0  2015.0
                    35-39       female                   1192.0  2015.0
                    25-29       female                   1220.0  2015.0
                    95-99         male                     13.0  2015.0
                    40-44         male                   1179.0  2015.0
                    30-34       female                   1240.0  2015.0
                    60-64       female                   1142.0  2015.0